/* Slide Form */

.slide-form h2 {
	margin: 0 auto;
}

.slide-form {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	color: #fff;
	padding: 30px;
}

.slide-form input {
	margin: 0 auto;
	color: black;
	height: 2.5rem;
}

.search-results {
	width: full;
	background-color: rgb(255, 255, 255);
	color: #000000;
	padding-left: 10px;
	margin: 2px;
}

@media screen and (max-width: 768px) {
}
