@tailwind base;
@tailwind components;
@tailwind utilities;

/* .selected {
	background-color: black;
	color: aliceblue;
} */

:root {
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	color: gray;
	font-size: 16px;
	background-color: #f0f9f6;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	flex: 1;
}

li {
	list-style-type: none;
}

/*  
fate green: #2e8689
fate dark: #BDAA66
fate light: #E4E0BD */
